.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.counter-number {
    background-color: #000;
    color: #FFF;
    padding: 1rem;
    border-radius: 0.7rem;
    font-size: 4rem;
    font-weight: bold;
    min-width: 80px;
    text-align: center;
}

@media (min-width: 450px) and (max-width: 550px) {
    .counter-number {
        background-color: #000;
        color: #FFF;
        padding: 5px;
        border-radius: 0.7rem;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
}

@media (min-width: 350px) and (max-width: 450px) {
    .counter-number {
        background-color: #000;
        color: #FFF;
        padding: 4px;
        border-radius: 0.7rem;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
}